<nav id="page-top" class="navbar navbar-dark navbar-expand bg-dark shadow mb-4 topbar static-top">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['']">House2Home</a>
    <ul class="nav navbar-nav flex-nowrap ml-auto">
      <li class="nav-item  no-arrow" role="presentation">
      <li class="nav-item  no-arrow">
        <a class=" nav-link" aria-expanded="false" [routerLink]="['']">
          <span class="d-none d-lg-inline mr-2 text-gray-600 small">Load</span> </a>
      </li>
      <div class="d-none d-sm-block topbar-divider"></div>
      <li class="nav-item  no-arrow" role="presentation">
      <li class="nav-item  no-arrow">
        <a class=" nav-link" aria-expanded="false" [routerLink]="['/viewData']">
          <span class="d-none d-lg-inline mr-2 text-gray-600 small">View/Manage</span> </a>
      </li>
      <div class="d-none d-sm-block topbar-divider"></div>
      <li class="nav-item  no-arrow" role="presentation">
      <li class="nav-item  no-arrow">
        <a class=" nav-link" aria-expanded="false" [routerLink]="['/predictData']">
          <span class="d-none d-lg-inline mr-2 text-gray-600 small">Predict</span> </a>
      </li>
    </ul>
  </div>
</nav>