# Copy this file to .env and replace the credentials with
# your own before starting the app.

DB_DATABASE=<database name>
DB_HOSTNAME=<hostname>
DB_PORT=50000
DB_UID=<username>
DB_PWD=<password>
DB_SCHEMA=<schema name>
WML_SERVICEPATH=<service url name>
WML_UID=<wml service user name>
WML_PWD=<wml service password name>
WML_INSTANCEID=<service instance id >
WML_MODELID=<model id>
WML_DEPLOYMENTID=<deployment id>
