# Copy this file to .env and replace the credentials with
# your own before starting the app.

DB_DATABASE=<database name>
DB_HOSTNAME=<hostname>
DB_PORT=50000
DB_UID=<username>
DB_PWD=<password>
DB_SCHEMA=<schema name>
