<div id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">House Information</h3>
                    <div class="alert alert-danger" role="alert" *ngIf=errErrorMessage>
                        <span><strong>{{errMessage}}</strong></span></div>
                    <div class="alert alert-success" role="alert" *ngIf=greenErrorMessage>
                        <span><strong>{{greenMessage}}</strong></span></div>
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">Predict Options</p>
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" value="db2"
                                            [(ngModel)]="predictOption" #predictOptions="ngModel"
                                            name="predictOptions">Predict using
                                        IBM Db2 AI
                                    </label>
                                </div>
                                &nbsp;&nbsp; &nbsp;
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" [(ngModel)]="predictOption"
                                            value="wml" required #predictOptions="ngModel" name="predictOptions">Predict
                                        using
                                        Watson Machine Learning
                                    </label>
                                </div>
                            </div>
                            <small class="text-danger" *ngIf=errPredictOption>Please select one of the option</small>
                        </div>
                    </div>
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">Address Information</p>
                        </div>
                        <div class="card-body">
                            <div class="form-row" style="margin-bottom:0px;">
                                <div class="col-md-2 mb-3">
                                    <label for="address1">Address 1</label>
                                    <input type="text" class="form-control" id="address1" placeholder="1234 abc st."
                                        required [(ngModel)]="addressModel.address1" #address1="ngModel"
                                        name="address1">
                                    <small class="text-danger" *ngIf=errAddress1>Please enter a valid address</small>
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="address2">Address2</label>
                                    <input type="text" class="form-control" id="address2" placeholder="Apt 4" required
                                        [(ngModel)]="addressModel.address2" #address2="ngModel" name="address2">
                                    <small class="text-danger" *ngIf=errAddress2>Please enter a valid address</small>
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="city">City</label>

                                    <input type="text" class="form-control" id="city" placeholder="Pflugerville"
                                        aria-describedby="inputGroupPrepend2" required [(ngModel)]="addressModel.city"
                                        #city="ngModel" name="city">
                                    <small class="text-danger" *ngIf=errCity>Please enter a valid city</small>

                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="state">State</label>

                                    <input type="text" class="form-control" id="state" placeholder="TX"
                                        aria-describedby="inputGroupPrepend2" required [(ngModel)]="addressModel.state"
                                        #state="ngModel" name="state">
                                    <small class="text-danger" *ngIf=errState>Please enter a valid state</small>

                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="zipcode">Zipcode</label>

                                    <input type="text" class="form-control" id="zipcode" placeholder="78660"
                                        aria-describedby="inputGroupPrepend2" required required
                                        [(ngModel)]="addressModel.zipcode" #zipcode="ngModel" name="zipcode">
                                    <small class="text-danger" *ngIf=errZipCode>Please enter a valid zipCode</small>

                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="country">Country</label>

                                    <input type="text" class="form-control" id="country" placeholder="USA"
                                        aria-describedby="inputGroupPrepend2" required
                                        [(ngModel)]="addressModel.country" #country="ngModel" name="country">
                                    <small class="text-danger" *ngIf=errCountry>Please enter a valid Country</small>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">General Information</p>
                        </div>
                        <div class="card-body">
                            <div class="form-row" style="margin-bottom:0px;">
                                <div class="col-md-2 mb-3">
                                    <div class="form-group"><label for="username">
                                            <strong>Lot Area</strong>
                                        </label>
                                        <input class="form-control" type="text" placeholder="LotArea" required
                                            [(ngModel)]="model.lotArea" #lotArea="ngModel" name="lotArea">
                                        <small class="text-danger" *ngIf=errLotArea>Please enter a valid number</small>
                                    </div>
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="first_name"><strong>Bldg Style</strong></label>
                                    <select class="form-control" required [(ngModel)]="model.bldgType"
                                        #bldgType="ngModel" name="bldgType">

                                        <option> Select BldgType</option>
                                        <option>1Fam</option>
                                        <option>2fmCon</option>
                                        <option>Duplx</option>
                                        <option>TwnhsE</option>
                                        <option>TwnhsI</option>

                                    </select>
                                    <small class="text-danger" *ngIf=errBldgType>Please choose an option</small>
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="first_name"><strong>House Style</strong></label><select
                                        class="form-control" required [(ngModel)]="model.houseStyle"
                                        #houseStyle="ngModel" name="houseStyle">
                                        <option>Select HouseStyle</option>
                                        <option>1Story</option>
                                        <option>1.5Fin</option>
                                        <option>1.5Unf</option>
                                        <option>2Story</option>
                                        <option>2.5Fin</option>
                                        <option>2.5Unf</option>
                                        <option>SFoyer</option>
                                        <option>SLvl</option>

                                    </select>
                                    <small class="text-danger" *ngIf=errHouseStyle>Please choose an option</small>
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="first_name"><strong>Overall Cond</strong></label><input
                                        class="form-control" type="text" placeholder="Overall Cond" required
                                        [(ngModel)]="model.overallCond" #overallCond="ngModel" name="overallCond"><small
                                        class="text-danger" *ngIf=errOverallCond>Please enter a valid number</small>
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="first_name"><strong>Year Built</strong></label><input
                                        class="form-control" type="text" placeholder="Year Built" required
                                        [(ngModel)]="model.yearBuilt" #yearBuilt="ngModel" name="yearBuilt"><small
                                        class="text-danger" *ngIf=errYearBuilt>Please enter a valid number</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">Rooms</p>
                        </div>
                        <div class="card-body">
                            <div class="form-row" style="margin-bottom:0px;">
                                <div class="col-md-2 mb-3">
                                    <div class="form-group">
                                        <label for="email"><strong>Total Rooms AbvGr</strong></label><input
                                            class="form-control" type="email" placeholder="Total Rooms AbvGr" required
                                            [(ngModel)]="model.totalRmsAbvGrd" #totalRmsAbvGrd="ngModel"
                                            name="totalRmsAbvGrd"><small class="text-danger"
                                            *ngIf=errTotRmsAbvGrd>Please enter a valid number</small></div>
                                </div>
                                <div class="col-md-2 mb-3">
                                    <div class="form-group">
                                        <label for="username"><strong>Full Bath</strong></label><input
                                            class="form-control" type="text" placeholder="Full Bath" required
                                            [(ngModel)]="model.fullBath" #fullBath="ngModel" name="fullBath"><small
                                            class="text-danger" *ngIf=errFullBath>Please enter a valid number</small>
                                    </div>
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="username"><strong>Half Bath</strong></label><input class="form-control"
                                        type="text" placeholder="Half Bath" required [(ngModel)]="model.halfBath"
                                        #halfBath="ngModel" name="halfBath"><small class="text-danger"
                                        *ngIf=errHalfBath>Please enter a valid number</small>
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="username"><strong>Bedroom Above Ground</strong></label><input
                                        class="form-control" type="text" placeholder="Bedroom Above Ground" required
                                        [(ngModel)]="model.bedroomAbvGr" #bedroomAbvGr="ngModel" name="bedroomAbvGr"><small
                                        class="text-danger" *ngIf=errBedroomAbvGr>Please enter a valid number</small>
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="username"><strong>Kitchen Above Ground</strong></label><input
                                        class="form-control" type="text" placeholder="Kitchen Above Ground" required
                                        [(ngModel)]="model.kitchenAbvGr" #kitchenAbvGr="ngModel" name="kitchenAbvGr"><small
                                        class="text-danger" *ngIf=errKitchenAbvGr>Please enter a valid number</small>
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="username"><strong>Kitchen Quality</strong></label><select
                                        class="form-control" required [(ngModel)]="model.kitchenQual"
                                        #kitchenQual="ngModel" name="kitchenQual">
                                        <option>Select KitchenQual</option>
                                        <option>Ex</option>
                                        <option>Gd</option>
                                        <option>TA</option>
                                        <option>Fa</option>
                                    </select>
                                    <small class="text-danger" *ngIf=errKitchenQual>Please choose an option</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">Utilities</p>
                        </div>
                        <div class="card-body">
                            <div class="form-row" style="margin-bottom:0px;">
                                <div class="col-md-2 mb-3">
                                    <label for="email"><strong>Heating</strong></label><select class="form-control"
                                        required [(ngModel)]="model.heating" #heating="ngModel" name="heating">
                                        <option>Select Heating</option>
                                        <option>Floor</option>
                                        <option>GasA</option>
                                        <option>GasW</option>
                                        <option>Grav</option>
                                        <option>OthW</option>
                                        <option>Wall</option>
                                    </select>
                                    <small class="text-danger" *ngIf=errHeating>Please choose an option</small> </div>
                                <div class="col-md-2 mb-3">
                                    <label for="email"><strong>Heating QC</strong></label><select class="form-control"
                                        required [(ngModel)]="model.heatingQC" #heatingQC="ngModel" name="heatingQC">
                                        <option>Select HeatingQC</option>
                                        <option>Ex</option>
                                        <option>Gd</option>
                                        <option>TA</option>
                                        <option>Fa</option>
                                        <option>Po</option>
                                    </select>
                                    <small class="text-danger" *ngIf=errHeatingQC>Please choose an option</small> </div>
                                <div class="col-md-2 mb-3">
                                    <label for="email"><strong>Central Air</strong></label><select class="form-control"
                                        required [(ngModel)]="model.centralAir" #centralAir="ngModel" name="centralAir">
                                        <option>Select CentralAir</option>
                                        <option>N</option>
                                        <option>Y</option>
                                    </select>
                                    <small class="text-danger" *ngIf=errCentralAir>Please choose an option</small>
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="email"><strong>Electrical</strong></label><select class="form-control"
                                        required [(ngModel)]="model.electrical" #electrical="ngModel" name="electrical">
                                        <option>Select Electrical</option>
                                        <option>SBrkr</option>
                                        <option>FuseA</option>
                                        <option>FuseF</option>
                                        <option>FuseP</option>
                                        <option>Mix</option>
                                    </select>
                                    <small class="text-danger" *ngIf=errElectrical>Please choose an option</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">Exterior</p>
                        </div>
                        <div class="card-body">
                            <div class="form-row" style="margin-bottom:0px;">
                                <div class="col-md-2 mb-3">
                                    <div class="form-group">
                                        <label for="country"><strong>Roof Style</strong></label><select
                                            class="form-control" required [(ngModel)]="model.roofStyle"
                                            #roofStyle="ngModel" name="roofStyle">
                                            <option>Select RoofStyle</option>
                                            <option>Flat</option>
                                            <option>Gable</option>
                                            <option>Gambrel</option>
                                            <option>Hip</option>
                                            <option>Mansard</option>
                                            <option>Shed</option>
                                        </select>
                                        <small class="text-danger" *ngIf=errRoofStyle>Please choose an option</small>
                                    </div>
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="country"><strong>Exter Condition</strong></label><select
                                        class="form-control" required [(ngModel)]="model.exterCond" #exterCond="ngModel"
                                        name="exterCond">
                                        <option>Select ExterCond</option>
                                        <option>Ex</option>
                                        <option>Gd</option>
                                        <option>TA</option>
                                        <option>Fa</option>
                                        <option>Po</option>
                                    </select>
                                    <small class="text-danger" *ngIf=errExterCond>Please choose an option</small> </div>
                                <div class="col-md-2 mb-3">
                                    <label for="country"><strong>Foundation</strong></label><select class="form-control"
                                        required [(ngModel)]="model.foundation" #foundation="ngModel" name="foundation">
                                        <option>Select Foundation</option>
                                        <option>BrkTil</option>
                                        <option>CBlock</option>
                                        <option>PConc</option>
                                        <option>Slab</option>
                                        <option>Stone</option>
                                        <option>Wood</option>
                                    </select>
                                    <small class="text-danger" *ngIf=errFoundation>Please choose an option</small></div>
                                <div class="col-md-2 mb-3">
                                    <label for="country"><strong>Bsmt Contition</strong></label><select
                                        class="form-control" required [(ngModel)]="model.bsmtCond" #bsmtCond="ngModel"
                                        name="bsmtCond">
                                        <option>Select BsmtCond</option>
                                        <option>Gd</option>
                                        <option>TA</option>
                                        <option>Fa</option>
                                        <option>Po</option>
                                        <option>NA</option>
                                    </select>
                                    <small class="text-danger" *ngIf=errBsmtCond>Please choose an option</small> </div>
                                <div class="col-md-2 mb-3">
                                    <label for="country"><strong>Pool Area</strong></label><input class="form-control"
                                        type="text" placeholder="Pool Area" required [(ngModel)]="model.poolArea"
                                        #poolArea="ngModel" name="poolArea"><small class="text-danger"
                                        *ngIf=errPoolArea>Please enter a valid number</small>

                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="country"><strong>Pool QC</strong></label><select class="form-control"
                                        required [(ngModel)]="model.poolQC" #poolQC="ngModel" name="poolQC">
                                        <option>Select PoolQC</option>
                                        <option>Ex</option>
                                        <option>Gd</option>
                                        <option>Fa</option>
                                        <option>NA</option>
                                    </select>
                                    <small class="text-danger" *ngIf=errPoolQC>Please choose an option</small>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">Exterior 2</p>
                        </div>
                        <div class="card-body">
                            <div class="form-row" style="margin-bottom:0px;">
                                <div class="col-md-2 mb-3">
                                    <div class="form-group">
                                        <label for="country"><strong>Fireplaces</strong></label><input
                                            class="form-control" type="text" placeholder="Fireplaces" required
                                            [(ngModel)]="model.fireplaces" #fireplaces="ngModel" name="fireplaces"><small
                                            class="text-danger" *ngIf=errFireplaces>Please enter a valid number</small>
                                    </div>
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="country"><strong>Fireplace Quality</strong></label><select
                                        class="form-control" required [(ngModel)]="model.fireplaceQu"
                                        #fireplaceQu="ngModel" name="fireplaceQu">
                                        <option>Select FireplaceQu</option>
                                        <option>Ex</option>
                                        <option>Gd</option>
                                        <option>TA</option>
                                        <option>Fa</option>
                                        <option>Po</option>
                                        <option>NA</option>
                                    </select>
                                    <small class="text-danger" *ngIf=errFireplaceQu>Please choose an option</small>
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="country"><strong>Garage Type</strong><br></label><select
                                        class="form-control" required [(ngModel)]="model.garageType"
                                        #garageType="ngModel" name="garageType">
                                        <option>Select GarageType</option>
                                        <option>2Types</option>
                                        <option>Attchd</option>
                                        <option>Basment</option>

                                        <option>CarPort</option>
                                        <option>Detchd</option>
                                        <option>NA</option>
                                    </select>
                                    <small class="text-danger" *ngIf=errGarageType>Please choose an option</small></div>
                                <div class="col-md-2 mb-3">
                                    <label for="country"><strong>Garage Finish</strong></label><select
                                        class="form-control" required [(ngModel)]="model.garageFinish"
                                        #garageFinish="ngModel" name="garageFinish">
                                        <option>Select GarageFinish</option>
                                        <option>Fin</option>
                                        <option>RFn</option>
                                        <option>Unf</option>
                                        <option>NA</option>
                                    </select>
                                    <small class="text-danger" *ngIf=errGarageFinish>Please choose an option</small>
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="country"><strong>Garage Cars</strong></label><input class="form-control"
                                        type="text" placeholder="Garage Cars" required [(ngModel)]="model.garageCars"
                                        #garageCars="ngModel" name="garageCars"><small class="text-danger"
                                        *ngIf=errGarageCars>Please enter a valid number</small>

                                </div>

                                <div class="col-md-2 mb-3">
                                    <label for="country"><strong>Garage Condition</strong></label><select
                                        class="form-control" required [(ngModel)]="model.garageCond"
                                        #garageCond="ngModel" name="garageCond">
                                        <option>Select GarageCond</option>
                                        <option>Ex</option>
                                        <option>Gd</option>
                                        <option>TA</option>
                                        <option>Fa</option>
                                        <option>Po</option>
                                        <option>NA</option>
                                    </select>
                                    <small class="text-danger" *ngIf=errGarageCond>Please choose an option</small>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">Purchase Information</p>
                        </div>
                        <div class="card-body">
                            <div class="form-row" style="margin-bottom:0px;">
                                <div class="col-md-2 mb-3">
                                    <div class="form-group">
                                        <label for="country"><strong>Fences</strong></label><select class="form-control"
                                            required [(ngModel)]="model.fence" #fence="ngModel" name="fence">
                                            <option>Select Fence</option>
                                            <option>GdPrv</option>
                                            <option>MnPrv</option>
                                            <option>GdWo</option>
                                            <option>MnWw</option>
                                            <option>NA</option>
                                        </select>
                                        <small class="text-danger" *ngIf=errFence>Please choose an option</small> </div>
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="country"><strong>Month Sold</strong></label><input class="form-control"
                                        type="text" placeholder="Month Sold" required [(ngModel)]="model.moSold"
                                        #moSold="ngModel" name="moSold"><small class="text-danger"
                                        *ngIf=errMoSold>Please enter a valid number</small>
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="country"><strong>Year Sold</strong></label><input class="form-control"
                                        type="text" placeholder="Year Sold" required [(ngModel)]="model.yrSold"
                                        #yrSold="ngModel" name="yrSold"><small class="text-danger"
                                        *ngIf=errYrSold>Please enter a valid number</small>
                                </div>
                                <div class="col-md-2 mb-3" style="margin-top:35px; margin-left:15px;">

                                    <button class="btn btn-primary btn-sm" type="submit" (click)=predict()>SUBMIT
                                        DATA</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
